* {
    background-color: thistle;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    font-size: medium;
    
}

h1 {
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(2, 48, 54);
    margin: 50px;
}

h2 {
font-size: medium;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: midnightblue;
margin: 30px;

}

h3 {
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Georgia, 'Times New Roman', Times, serif, Verdana, Geneva, Tahoma, sans-serif; 
    background-image: linear-gradient(to right, thistle, linen, white);
}

img {
    height: auto;
    width: 300px;
    margin: 50px;
}

.cool {
    font-size: 28px;
}

.cool#cooler {
    color: rgb(2, 48, 54)
}

.many {
    font-size: 28px;
}




button {
    color: rgb(43, 41, 212);
    height: auto;
    width: auto;

}

p {
    border: 0px dotted;
    text-align: center;
}


