body {
    background-image: linear-gradient(to left, white, lightgray, thistle);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
}

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

.titleone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: large;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 360px;
    margin-right: 360px;
    border: 4px double blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(0, 64, 241);
    
}


img {
    display: block;
    height: auto;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.cool {
    font-size: 20px;
    color: indigo;
}

#many {
    font-size: 22px;
    color: red;
}


.nav-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: 560px;
    margin-right: 560px;
    border: 2px dotted black;
    
}

.nav {
    flex:1;
    align-items: center;
    justify-content: space-evenly;
    margin: 1px;
}

p {
    border: 0px dotted;
    text-align: center;
}


