* {
    background-color: thistle;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
}

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

.titleone {
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 0, 212);
    
}


img {
    height: auto;
    width: 300px;
    margin: 50px;
}

.cool {
    font-size: 20px;
    color: indigo;
}

#many {
    font-size: 22px;
    color: red;
}


.nav-list {
   background-color: brown;
   margin-right: 20px;

}

p {
    border: 0px dotted;
    text-align: center;
}


